<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact</title>
  <meta name="author" content="Gaurav Viramgami | Kritika Kumawat">
  <meta name="description" value="Tinkerers' Lab is a platform for students to experience innovation and prepare themselves for the future through self-learning.">
  <link rel="icon" href="\images\TL_logo.png">

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/contact.css">

  <!--Fonts-->
  <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/59300bf5d4.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Nav Bar -->
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">
        <img src="\images\TL_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right:2px;">
        Tinkerers' Lab
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booking">Booking Portal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventory">Inventory</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact">Contact <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Top Container -->
  <div class="small-space"></div>
  <svg class="wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#a3ddcb" fill-opacity="0.7"
      d="M0,64L10.9,69.3C21.8,75,44,85,65,112C87.3,139,109,181,131,208C152.7,235,175,245,196,213.3C218.2,181,240,107,262,80C283.6,53,305,75,327,85.3C349.1,96,371,96,393,90.7C414.5,85,436,75,458,74.7C480,75,502,85,524,80C545.5,75,567,53,589,58.7C610.9,64,633,96,655,117.3C676.4,139,698,149,720,133.3C741.8,117,764,75,785,80C807.3,85,829,139,851,165.3C872.7,192,895,192,916,186.7C938.2,181,960,171,982,138.7C1003.6,107,1025,53,1047,48C1069.1,43,1091,85,1113,106.7C1134.5,128,1156,128,1178,128C1200,128,1222,128,1244,133.3C1265.5,139,1287,149,1309,144C1330.9,139,1353,117,1375,112C1396.4,107,1418,117,1429,122.7L1440,128L1440,0L1429.1,0C1418.2,0,1396,0,1375,0C1352.7,0,1331,0,1309,0C1287.3,0,1265,0,1244,0C1221.8,0,1200,0,1178,0C1156.4,0,1135,0,1113,0C1090.9,0,1069,0,1047,0C1025.5,0,1004,0,982,0C960,0,938,0,916,0C894.5,0,873,0,851,0C829.1,0,807,0,785,0C763.6,0,742,0,720,0C698.2,0,676,0,655,0C632.7,0,611,0,589,0C567.3,0,545,0,524,0C501.8,0,480,0,458,0C436.4,0,415,0,393,0C370.9,0,349,0,327,0C305.5,0,284,0,262,0C240,0,218,0,196,0C174.5,0,153,0,131,0C109.1,0,87,0,65,0C43.6,0,22,0,11,0L0,0Z">
    </path>
  </svg>

  <div class="heading text-center">
    <div class="egg-shape-1">
      <div class="egg-shape-2">
        Contact
      </div>
    </div>
  </div>

  <div class="row contact-row">
    <div class="col-sm-12 col-md-6 contact-col">
      <div class="heading-contact">
        Address
      </div>
      <div class="content">
        <p>Academic Block 4 / 111</p>
        <p>IIT Gandhinagar, Palaj</p>
        <p>Gandhinagar - 382355, Gujarat</p>
      </div>
      <br>
      <div class="heading-contact">
        Contact
      </div>
      <div class="content">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <p class="coordinator-name">Pushan Patel</p>
            <p class="coordinator-phone">+91 99787 65167</p>
            <p class="coordinator-email">pushan.patel@iitgn.ac.in</p>
            <br>
          </div>
          <div class="col-sm-12 col-md-6">
            <p class="coordinator-name">Jaydeep Kakadiya</p>
            <p class="coordinator-phone">+91 99795 98050</p>
            <p class="coordinator-email">jaydeep.kakadiya@iitgn.ac.in</p>
            <br>
          </div>
        </div>
      </div>
      <div class="heading-contact">
        Mail
      </div>
      <div class="content">
        tinkererslab@iitgn.ac.in
      </div>
    </div>
    <br><br>
    <div class="col-sm-12 col-md-6 text-center tour-col">
      <div class="egg-shape-blue-1">
        <div class="egg-shape-blue-2">
          TL Virtual Tour
        </div>
      </div>
      <iframe class="tour-embed"
        src="https://www.google.com/maps/embed?pb=!4v1609084739821!6m8!1m7!1sCAoSLEFGMVFpcE9vcGI0ekV0ZU1DSEJZY1M1WkpfSnE3UU1NcTdfamlHOUMxRHAz!2m2!1d23.2139326!2d72.68553610000001!3f347.02893901661554!4f-9.58880697948905!5f0.4000000000000002"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>

<br><br>
  <!-- Contact Form -->
  <div class="form-heading col-sm-12 col-md-6 text-center">
    Feel Free to Drop a Message
  </div>
  <div class="contact-form">
    <div class="form-group col-md-6"> <label> Name </label> <input name="name" id="name_" type="text" class="form-control" placeholder="Name" required> </div>
    <div class="form-group col-md-6"> <label for="email"> Email ID </label>
      <div class="input-group "> <input type="email" name="email" id="email_" class="form-control" placeholder="Email ID" required> </div>
    </div>
    <div class="form-group col-md-6"> <label> Contact Number </label> <input type="text" name="contact_number_" id="contact_number_" class="form-control" placeholder="Contact Number" pattern="[0-9]{10}" required> </div>
    <div class="form-group col-md-6"> <label> Message </label> <textarea id="message_" maxlength="2000" name="message" class="form-control " placeholder="Drop Your Message"
        style="height:200px !important;max-height:200px !important;min-height:100px !important;" required></textarea>
      <br>
      <div class="form-group submit text-center"> <button type="submit" id="btnsbt_" onclick="_submitForm()" class="btn btn-info_ btn-outline-dark"> Submit </button> </div>
      <div id="loader_" class="text-center">
        <div class="loader-wheel_"></div>
      </div>
    </div>
  </div>


    <div class="space"></div>

    <div id="snackbar_"></div>
    <!-- Footer -->
    <div class="footer">
      <div class="row footer-row-1">
        <div class="col-sm-12 col-md-4 text-center">
          <i class="fas fa-map-marker-alt footer-icon"></i>
          <br><br>
          <p>Academic Block 4 / 111, IIT Gandhinagar, Palaj</p>
          <p>Gandhinagar - 382355, Gujarat</p>
          <br>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
          <i class="fas fa-phone-alt footer-icon"></i>
          <br><br>
          <p class="text-center">TL Coordinators</p>
          <div class="row coordinator-row">
            <div class="col-sm-12 col-md-6">
              <p class="coordinator-name">Pushan Patel</p>
              <p class="coordinator-phone">+91 99787 65167</p>
              <p class="coordinator-email">pushan.patel@iitgn.ac.in</p>
              <br>
            </div>
            <div class="col-sm-12 col-md-6">
              <p class="coordinator-name">Jaydeep Kakadiya</p>
              <p class="coordinator-phone">+91 99795 98050</p>
              <p class="coordinator-email">jaydeep.kakadiya@iitgn.ac.in</p>
            </div>
          </div>
          <br>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
          <i class="fas fa-envelope footer-icon"></i>
          <br><br>
          <p>tinkererslab@iitgn.ac.in</p>
          <br>
        </div>
      </div>
      <div class="row footer-row-2">
        <div class="col-sm-12 col-md-6 text-center">
          <a href="https://www.facebook.com/Tinkerers-Lab-IITGN-110852657318853/"><i class="fab fa-facebook-f footer-icon social-icon"></i></a>
          <a href="https://www.instagram.com/tinkerers_lab_iitgn/"><i class="fab fa-instagram footer-icon social-icon"></i></a>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
          <a class="btn btn-outline-dark contact-btn" href="/contact" role="button">Get In Touch &rarr;</a>
        </div>
      </div>
      <br><br>
      <p class="text-center">Copyright ©2021 All rights reserved | Tinkerers’ Lab IIT Gandhinagar</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script type="text/javascript">
      function _submitForm() {
        document.getElementById("loader_").style.display = "block";
        var name = $("#name_").val();
        var email = $("#email_").val();
        var contact_number = $("#contact_number_").val();
        var message = $("#message_").val();
        var timestamp = new Date().toLocaleString();
        if (email === null || name === null || contact_number === null || message === null) {
          document.getElementById("loader_").style.display = "none";
          error_show("Please fill all the fields");
        } else {
          if (email.trim() === "" || name.trim() === "" || contact_number.trim() === "" || message.trim() === "") {
            document.getElementById("loader_").style.display = "none";
            error_show("Please fill all the fields");
          } else {
            if (parseInt(contact_number) <= 9999999999) {
              var jqxhr = $.ajax({
                  url: 'https://script.google.com/macros/s/AKfycbz5vC2cavCG8tvx1GLqimUpqkdK7lGAWjNzJ332s-CCgVQOUCtZpbVj/exec',
                  method: "GET",
                  dataType: "json",
                  data: {
                    Name: name,
                    Contact: contact_number,
                    Timestamp: timestamp,
                    Email: email,
                    Message: message
                  }
                })
                .then(function(doRef) {
                  document.getElementById("loader_").style.display = "none";
                  if (doRef["result"] === "success") {
                     if (doRef["row"] === "Invalid") {
                      error_show("Please provide valid Email Id!");
                    } else {
                      error_show("Your message has been deliveried!!");
                    }
                  } else {
                    error_show("Please try again!");
                  }
                  $("#name_").val('');
                  $("#email_").val('');
                  $('#message_').val('');
                  $('#contact_number_').val('');
                });
            } else {
              document.getElementById("loader_").style.display = "none";
              error_show("Please enter valid Contact Number!");
            }
          }
        }
      }

      function error_show(e) {
        var x = document.getElementById("snackbar_");
        x.innerHTML = e;
        x.className = "show";
        setTimeout(function() {
          x.className = x.className.replace("show", "");
        }, 3000);
      }
    </script>

</body>

</html>
