<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Events</title>
  <meta name="author" content="Gaurav Viramgami | Kritika Kumawat">
  <meta name="description" value="Tinkerers' Lab is a platform for students to experience innovation and prepare themselves for the future through self-learning.">
  <link rel="icon" href="\images\TL_logo.png">

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/events.css">

  <!--Fonts-->
  <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/59300bf5d4.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Nav Bar -->
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">
        <img src="\images\TL_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right:2px;">
        Tinkerers' Lab
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booking">Booking Portal</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/events">Events <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventory">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Top Container -->
  <div class="small-space"></div>
  <svg class="wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#a3ddcb" fill-opacity="0.5"
      d="M0,64L10.9,69.3C21.8,75,44,85,65,112C87.3,139,109,181,131,208C152.7,235,175,245,196,213.3C218.2,181,240,107,262,80C283.6,53,305,75,327,85.3C349.1,96,371,96,393,90.7C414.5,85,436,75,458,74.7C480,75,502,85,524,80C545.5,75,567,53,589,58.7C610.9,64,633,96,655,117.3C676.4,139,698,149,720,133.3C741.8,117,764,75,785,80C807.3,85,829,139,851,165.3C872.7,192,895,192,916,186.7C938.2,181,960,171,982,138.7C1003.6,107,1025,53,1047,48C1069.1,43,1091,85,1113,106.7C1134.5,128,1156,128,1178,128C1200,128,1222,128,1244,133.3C1265.5,139,1287,149,1309,144C1330.9,139,1353,117,1375,112C1396.4,107,1418,117,1429,122.7L1440,128L1440,0L1429.1,0C1418.2,0,1396,0,1375,0C1352.7,0,1331,0,1309,0C1287.3,0,1265,0,1244,0C1221.8,0,1200,0,1178,0C1156.4,0,1135,0,1113,0C1090.9,0,1069,0,1047,0C1025.5,0,1004,0,982,0C960,0,938,0,916,0C894.5,0,873,0,851,0C829.1,0,807,0,785,0C763.6,0,742,0,720,0C698.2,0,676,0,655,0C632.7,0,611,0,589,0C567.3,0,545,0,524,0C501.8,0,480,0,458,0C436.4,0,415,0,393,0C370.9,0,349,0,327,0C305.5,0,284,0,262,0C240,0,218,0,196,0C174.5,0,153,0,131,0C109.1,0,87,0,65,0C43.6,0,22,0,11,0L0,0Z">
    </path>
  </svg>

  <div class="heading text-center">
    <div class="egg-shape-1">
      <div class="egg-shape-2">
        Events
      </div>
    </div>
  </div>

  <!-- Events -->

  <!-- Event 1 - Vitual Build-a-thon -->
  <div class="event1 top-event">
    <div class="event-heading text-center">
      Virtual Build-a-thon
    </div>
    <div class="col-sm-12 col-md-6 text-center phone">
      <img class="event-img" src="/images/build-a-thon.jpg" alt="">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p class="event-content">Tinkerers' Lab successfully organized an online 12-hour long event last week on 24th May. The virtual Build-a-thon was held only for 1st and 2nd-year undergrads. The event took place on the online platform TinkerCAD
          where the participants have to come up with an Arduino based disaster management system. We received an overwhelming response, and all of the entries were well thought.</p>
        <div class="row subrow text-center">
          <div class="col-sm-12 col-md-6">
            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/tv/CBqW-kMncMp/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="13"
              style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
              <div style="padding:16px;"> <a href="https://www.instagram.com/tv/CBqW-kMncMp/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
                  target="_blank">
                  <div style=" display: flex; flex-direction: row; align-items: center;">
                    <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div>
                    <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                      <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div>
                      <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div>
                    </div>
                  </div>
                  <div style="padding: 19% 0;"></div>
                  <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                          <g>
                            <path
                              d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631">
                            </path>
                          </g>
                        </g>
                      </g>
                    </svg></div>
                  <div style="padding-top: 8px;">
                    <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> View this post on Instagram</div>
                  </div>
                  <div style="padding: 12.5% 0;"></div>
                  <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                    <div>
                      <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div>
                      <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div>
                      <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div>
                    </div>
                    <div style="margin-left: 8px;">
                      <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div>
                      <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div>
                    </div>
                    <div style="margin-left: auto;">
                      <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div>
                      <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div>
                      <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div>
                    </div>
                  </div>
                  <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                    <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div>
                    <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div>
                  </div>
                </a>
                <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a
                    href="https://www.instagram.com/tv/CBqW-kMncMp/?utm_source=ig_embed&amp;utm_campaign=loading"
                    style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Tinkerers&#39; Lab (@tinkerers_lab_iitgn)</a>
                </p>
              </div>
            </blockquote>
            <p class="event-content">Winning Entry 1 - Stampede Predictor</p>
          </div>
          <div class="col-sm-12 col-md-6">
            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/tv/CBdZyERDE6c/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="13"
              style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
              <div style="padding:16px;"> <a href="https://www.instagram.com/tv/CBdZyERDE6c/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
                  target="_blank">
                  <div style=" display: flex; flex-direction: row; align-items: center;">
                    <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div>
                    <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                      <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div>
                      <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div>
                    </div>
                  </div>
                  <div style="padding: 19% 0;"></div>
                  <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                          <g>
                            <path
                              d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631">
                            </path>
                          </g>
                        </g>
                      </g>
                    </svg></div>
                  <div style="padding-top: 8px;">
                    <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> View this post on Instagram</div>
                  </div>
                  <div style="padding: 12.5% 0;"></div>
                  <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                    <div>
                      <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div>
                      <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div>
                      <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div>
                    </div>
                    <div style="margin-left: 8px;">
                      <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div>
                      <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div>
                    </div>
                    <div style="margin-left: auto;">
                      <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div>
                      <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div>
                      <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div>
                    </div>
                  </div>
                  <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                    <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div>
                    <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div>
                  </div>
                </a>
                <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a
                    href="https://www.instagram.com/tv/CBdZyERDE6c/?utm_source=ig_embed&amp;utm_campaign=loading"
                    style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Tinkerers&#39; Lab (@tinkerers_lab_iitgn)</a>
                </p>
              </div>
            </blockquote>
            <p class="event-content">Winning Entry 2 - COVID 19 Social Distancing data extraction and analyzation</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 text-center pc">
        <img class="event-img" src="/images/build-a-thon.jpg" alt="">
      </div>
    </div>
  </div>

  <!-- Event - 2 - AR Workshop -->
  <div class="event2">
    <div class="event-heading text-center">
      AR Workshop
    </div>
    <div class="col-sm-12 col-md-6 text-center phone">
      <img class="event-img" src="/images/ar.jpg" alt="">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 text-center pc">
        <img class="event-img" src="/images/ar.jpg" alt="">
      </div>
      <div class="col-sm-12 col-md-6">
        <p class="event-content">Ever wondered how Instagram makes those exciting filters? Or how Snapchat makes interactive games? Or how Pokémon GO works? (*worked). A workshop on getting started with Augmented Reality conducted by TL in collaboration with DigiS IITGN.</p>
        <br class="pc"><br class="pc">
        <div class="row subrow text-center">
          <div class="col-sm-12">
            <img class="event-img" src="/images/ar-model.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Event - 3 - Robo Quest Buils-a-thon -->
  <div class="event1 top-event">
    <div class="event-heading text-center">
      Build-a-thon with Amalthea '19
    </div>
    <div class="col-sm-12 col-md-6 text-center phone">
      <img class="event-img" src="/images/RoboQuest.png" alt="">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p class="event-content">An event in association with Amalthea was organised during the month of October. The participants had to build a robot in the premises of the Tinkerers’ Lab. Every team was allotted a time-slot of 36 hours to do so. A total of 10 teams (along with active participation from the freshers) participated with great enthusiasm. The Tinkerers’ Lab assisted them by providing the required materials and mentorship from the senior members of team TL.</p>
        <div class="row subrow text-center">
          <div class="col-sm-12 col-md-6">
            <img class="event-img" src="/images/rq1.jpg" alt="">
          </div>
          <div class="col-sm-12 col-md-6">
            <img class="event-img" src="/images/rq2.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 text-center pc">
        <img class="event-img" src="/images/RoboQuest.png" alt="">
      </div>
    </div>
  </div>

  <!-- Other Events -->
  <div class="other-events">
    <div class="event-heading text-center">
      Other Events
    </div>
    <div class="row text-center">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <img class="other-imgs" src="/images/hsw.jpg" alt="">
        <p class="event-content other-event-content">How Stuff Works</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <img class="other-imgs" src="/images/invent.jpg" alt="">
        <p class="event-content other-event-content">Invent@IITGN - 2019</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <img class="other-imgs" src="/images/interIIT1.png" alt="">
        <p class="event-content other-event-content">Inter IIT Tech Meet 2019 (DIC’s Terrace Farming Robot for Hilly Areas)</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <img class="other-imgs" src="/images/interIIT2.png" alt="">
        <p class="event-content other-event-content">Inter IIT Tech Meet 2019 (Ashoka’s Tech for Change Challenge)</p>
      </div>
    </div>

  </div>

  <div class="space"></div>
  <!-- Footer -->
  <div class="footer">
    <div class="row footer-row-1">
      <div class="col-sm-12 col-md-4 text-center">
        <i class="fas fa-map-marker-alt footer-icon"></i>
        <br><br>
        <p>Academic Block 4 / 111, IIT Gandhinagar, Palaj</p>
        <p>Gandhinagar - 382355, Gujarat</p>
        <br>
      </div>
      <div class="col-sm-12 col-md-4 text-center">
        <i class="fas fa-phone-alt footer-icon"></i>
        <br><br>
        <p class="text-center">TL Coordinators</p>
        <div class="row coordinator-row">
          <div class="col-sm-12 col-md-6">
            <p class="coordinator-name">Pushan Patel</p>
            <p class="coordinator-phone">+91 99787 65167</p>
            <p class="coordinator-email">pushan.patel@iitgn.ac.in</p>
            <br>
          </div>
          <div class="col-sm-12 col-md-6">
            <p class="coordinator-name">Jaydeep Kakadiya</p>
            <p class="coordinator-phone">+91 99795 98050</p>
            <p class="coordinator-email">jaydeep.kakadiya@iitgn.ac.in</p>
          </div>
        </div>
        <br>
      </div>
      <div class="col-sm-12 col-md-4 text-center">
        <i class="fas fa-envelope footer-icon"></i>
        <br><br>
        <p>tinkererslab@iitgn.ac.in</p>
        <br>
      </div>
    </div>
    <div class="row footer-row-2">
      <div class="col-sm-12 col-md-6 text-center">
        <a href="https://www.facebook.com/Tinkerers-Lab-IITGN-110852657318853/"><i class="fab fa-facebook-f footer-icon social-icon"></i></a>
        <a href="https://www.instagram.com/tinkerers_lab_iitgn/"><i class="fab fa-instagram footer-icon social-icon"></i></a>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <a class="btn btn-outline-dark contact-btn" href="/contact" role="button">Get In Touch &rarr;</a>
      </div>
    </div>
    <br><br>
    <p class="text-center">Copyright ©2021 All rights reserved | Tinkerers’ Lab IIT Gandhinagar</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script async src="//www.instagram.com/embed.js"></script>

</body>

</html>
