<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tinkerers' Lab</title>
  <meta name="author" content="Gaurav Viramgami | Kritika Kumawat">
  <meta name="description" value="Tinkerers' Lab is a platform for students to experience innovation and prepare themselves for the future through self-learning.">
  <link rel="icon" href="/tinkerers-lab/public/images/TL_Logo.png">

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/tinkerers-lab/public/css/common.css">
  <link rel="stylesheet" href="/tinkerers-lab/public/css/tl_logo.css">
  <link rel="stylesheet" href="/tinkerers-lab/public/css/about.css">
  <link rel="stylesheet" href="/tinkerers-lab/public/css/index.css">

  <!--Fonts-->
  <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/59300bf5d4.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Nav Bar -->
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
      <a class="navbar-brand" href="#">
        <img src="/tinkerers-lab/public/images/TL_Logo.png" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right:2px; filter: brightness(1.25);">
        Tinkerers' Lab
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/tinkerers-lab">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tinkerers-lab/booking">Booking Portal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tinkerers-lab/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tinkerers-lab/inventory">Inventory</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/invet">About Us</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/tinkerers-lab/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Top Container -->
  <div class="top-container shadow">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 center">
        <div class="logo-text">
          <svg id="logo" width="100%" height="59" viewBox="0 0 557 59" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M39.664 4.6C40.672 4.6 41.488 4.912 42.112 5.536C42.784 6.112 43.12 6.904 43.12 7.912C43.12 8.92 42.784 9.712 42.112 10.288C41.488 10.864 40.672 11.152 39.664 11.152H26.848V51.544C26.848 52.504 26.488 53.32 25.768 53.992C25.096 54.664 24.232 55 23.176 55C22.12 55 21.232 54.664 20.512 53.992C19.84 53.32 19.504 52.504 19.504 51.544V11.152H6.76002C5.75202 11.152 4.91202 10.864 4.24002 10.288C3.61602 9.664 3.30402 8.848 3.30402 7.84C3.30402 6.88 3.61602 6.112 4.24002 5.536C4.91202 4.912 5.75202 4.6 6.76002 4.6H39.664Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M58.5415 51.472C58.5415 52.48 58.1815 53.32 57.4615 53.992C56.7415 54.664 55.9015 55 54.9415 55C53.8855 55 53.0215 54.664 52.3495 53.992C51.7255 53.32 51.4135 52.48 51.4135 51.472V8.056C51.4135 7.096 51.7495 6.28 52.4215 5.608C53.0935 4.936 53.9575 4.6 55.0135 4.6C55.9735 4.6 56.7895 4.936 57.4615 5.608C58.1815 6.28 58.5415 7.096 58.5415 8.056V51.472Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M108.124 4.6C109.036 4.6 109.78 4.912 110.356 5.536C110.932 6.112 111.22 6.856 111.22 7.768V51.472C111.22 52.48 110.884 53.32 110.212 53.992C109.588 54.664 108.772 55 107.764 55C107.236 55 106.708 54.928 106.18 54.784C105.7 54.592 105.316 54.328 105.028 53.992L76.7322 17.128V51.832C76.7322 52.744 76.4202 53.512 75.7962 54.136C75.2202 54.712 74.4762 55 73.5642 55C72.6522 55 71.9082 54.712 71.3322 54.136C70.7562 53.512 70.4682 52.744 70.4682 51.832V8.056C70.4682 7.048 70.7802 6.232 71.4042 5.608C72.0762 4.936 72.8922 4.6 73.8522 4.6C74.4282 4.6 74.9802 4.72 75.5082 4.96C76.0362 5.152 76.4442 5.44 76.7322 5.824L104.956 42.76V7.768C104.956 6.856 105.244 6.112 105.82 5.536C106.444 4.912 107.212 4.6 108.124 4.6Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M161.507 49.168C162.035 49.84 162.299 50.632 162.299 51.544C162.299 52.6 161.891 53.464 161.075 54.136C160.307 54.808 159.419 55.144 158.411 55.144C157.451 55.144 156.611 54.712 155.891 53.848L138.395 31.312L130.331 38.944V51.472C130.331 52.48 129.995 53.32 129.323 53.992C128.651 54.664 127.787 55 126.731 55C125.675 55 124.811 54.664 124.139 53.992C123.515 53.32 123.203 52.48 123.203 51.472V8.056C123.203 7.096 123.539 6.28 124.211 5.608C124.883 4.936 125.747 4.6 126.803 4.6C127.859 4.6 128.699 4.936 129.323 5.608C129.995 6.232 130.331 7.048 130.331 8.056V30.448L155.891 5.68C156.803 4.864 157.715 4.456 158.627 4.456C159.491 4.456 160.235 4.816 160.859 5.536C161.483 6.256 161.795 7.024 161.795 7.84C161.795 8.56 161.459 9.304 160.787 10.072L143.723 26.2L161.507 49.168Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M199.457 48.376C200.465 48.376 201.281 48.712 201.905 49.384C202.577 50.056 202.913 50.848 202.913 51.76C202.913 52.72 202.577 53.512 201.905 54.136C201.281 54.712 200.465 55 199.457 55H174.401C173.441 55 172.625 54.664 171.953 53.992C171.281 53.32 170.945 52.504 170.945 51.544V8.056C170.945 7.096 171.281 6.28 171.953 5.608C172.625 4.936 173.441 4.6 174.401 4.6H199.457C200.465 4.6 201.281 4.912 201.905 5.536C202.577 6.16 202.913 6.976 202.913 7.984C202.913 8.944 202.577 9.736 201.905 10.36C201.281 10.936 200.465 11.224 199.457 11.224H178.073V25.912H196.217C197.225 25.912 198.041 26.224 198.665 26.848C199.337 27.472 199.673 28.264 199.673 29.224C199.673 30.232 199.337 31.024 198.665 31.6C198.041 32.176 197.225 32.464 196.217 32.464H178.073V48.376H199.457Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M250.383 49.24C250.863 49.576 251.247 50.008 251.535 50.536C251.823 51.016 251.967 51.52 251.967 52.048C251.967 53.056 251.631 53.8 250.959 54.28C250.335 54.76 249.567 55 248.655 55C247.743 55 246.975 54.808 246.351 54.424C244.911 53.608 243.735 52.288 242.823 50.464C241.911 48.64 241.455 45.952 241.455 42.4C241.455 40 240.735 38.224 239.295 37.072C237.855 35.92 235.983 35.344 233.679 35.344H219.135V51.544C219.135 52.552 218.847 53.392 218.271 54.064C217.695 54.688 216.951 55 216.039 55C214.935 55 213.975 54.664 213.159 53.992C212.391 53.32 212.007 52.504 212.007 51.544V8.056C212.007 7.096 212.343 6.28 213.015 5.608C213.687 4.936 214.503 4.6 215.463 4.6H235.695C238.287 4.6 240.663 5.248 242.823 6.544C244.983 7.792 246.711 9.544 248.007 11.8C249.303 14.008 249.951 16.504 249.951 19.288C249.951 21.976 249.231 24.496 247.791 26.848C246.351 29.152 244.503 30.88 242.247 32.032C244.023 32.944 245.415 34.216 246.423 35.848C247.479 37.48 248.055 39.376 248.151 41.536C248.343 44.272 248.559 46.144 248.799 47.152C249.039 48.112 249.567 48.808 250.383 49.24ZM235.551 29.368C236.751 29.272 237.879 28.792 238.935 27.928C240.039 27.064 240.927 25.912 241.599 24.472C242.271 22.984 242.607 21.328 242.607 19.504C242.607 17.2 241.887 15.256 240.447 13.672C239.055 12.04 237.351 11.224 235.335 11.224H219.135V29.368H235.551Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M289.457 48.376C290.465 48.376 291.281 48.712 291.905 49.384C292.577 50.056 292.913 50.848 292.913 51.76C292.913 52.72 292.577 53.512 291.905 54.136C291.281 54.712 290.465 55 289.457 55H264.401C263.441 55 262.625 54.664 261.953 53.992C261.281 53.32 260.945 52.504 260.945 51.544V8.056C260.945 7.096 261.281 6.28 261.953 5.608C262.625 4.936 263.441 4.6 264.401 4.6H289.457C290.465 4.6 291.281 4.912 291.905 5.536C292.577 6.16 292.913 6.976 292.913 7.984C292.913 8.944 292.577 9.736 291.905 10.36C291.281 10.936 290.465 11.224 289.457 11.224H268.073V25.912H286.217C287.225 25.912 288.041 26.224 288.665 26.848C289.337 27.472 289.673 28.264 289.673 29.224C289.673 30.232 289.337 31.024 288.665 31.6C288.041 32.176 287.225 32.464 286.217 32.464H268.073V48.376H289.457Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M340.383 49.24C340.863 49.576 341.247 50.008 341.535 50.536C341.823 51.016 341.967 51.52 341.967 52.048C341.967 53.056 341.631 53.8 340.959 54.28C340.335 54.76 339.567 55 338.655 55C337.743 55 336.975 54.808 336.351 54.424C334.911 53.608 333.735 52.288 332.823 50.464C331.911 48.64 331.455 45.952 331.455 42.4C331.455 40 330.735 38.224 329.295 37.072C327.855 35.92 325.983 35.344 323.679 35.344H309.135V51.544C309.135 52.552 308.847 53.392 308.271 54.064C307.695 54.688 306.951 55 306.039 55C304.935 55 303.975 54.664 303.159 53.992C302.391 53.32 302.007 52.504 302.007 51.544V8.056C302.007 7.096 302.343 6.28 303.015 5.608C303.687 4.936 304.503 4.6 305.463 4.6H325.695C328.287 4.6 330.663 5.248 332.823 6.544C334.983 7.792 336.711 9.544 338.007 11.8C339.303 14.008 339.951 16.504 339.951 19.288C339.951 21.976 339.231 24.496 337.791 26.848C336.351 29.152 334.503 30.88 332.247 32.032C334.023 32.944 335.415 34.216 336.423 35.848C337.479 37.48 338.055 39.376 338.151 41.536C338.343 44.272 338.559 46.144 338.799 47.152C339.039 48.112 339.567 48.808 340.383 49.24ZM325.551 29.368C326.751 29.272 327.879 28.792 328.935 27.928C330.039 27.064 330.927 25.912 331.599 24.472C332.271 22.984 332.607 21.328 332.607 19.504C332.607 17.2 331.887 15.256 330.447 13.672C329.055 12.04 327.351 11.224 325.335 11.224H309.135V29.368H325.551Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M366.209 55.72C362.705 55.72 359.609 55.24 356.921 54.28C354.233 53.272 351.665 51.664 349.217 49.456C348.209 48.592 347.705 47.608 347.705 46.504C347.705 45.64 348.041 44.872 348.713 44.2C349.385 43.48 350.177 43.12 351.089 43.12C351.905 43.12 352.601 43.384 353.177 43.912C355.097 45.688 357.065 47.008 359.081 47.872C361.145 48.688 363.473 49.096 366.065 49.096C369.089 49.096 371.633 48.4 373.697 47.008C375.809 45.616 376.865 43.864 376.865 41.752C376.817 39.256 375.761 37.336 373.697 35.992C371.681 34.6 368.585 33.448 364.409 32.536C359.465 31.528 355.649 29.872 352.961 27.568C350.321 25.264 349.001 22.072 349.001 17.992C349.001 15.16 349.745 12.688 351.233 10.576C352.721 8.416 354.785 6.76 357.425 5.608C360.065 4.456 363.041 3.88 366.353 3.88C369.329 3.88 372.137 4.36 374.777 5.32C377.417 6.28 379.553 7.552 381.185 9.136C382.289 10.096 382.841 11.128 382.841 12.232C382.841 13.096 382.505 13.864 381.833 14.536C381.209 15.208 380.441 15.544 379.529 15.544C378.857 15.544 378.305 15.352 377.873 14.968C376.625 13.72 374.897 12.664 372.689 11.8C370.481 10.936 368.369 10.504 366.353 10.504C363.137 10.504 360.569 11.176 358.649 12.52C356.777 13.816 355.841 15.544 355.841 17.704C355.841 20.056 356.777 21.856 358.649 23.104C360.569 24.352 363.401 25.408 367.145 26.272C370.889 27.088 373.937 28.048 376.289 29.152C378.689 30.256 380.537 31.792 381.833 33.76C383.129 35.728 383.777 38.296 383.777 41.464C383.777 44.248 382.985 46.72 381.401 48.88C379.865 51.04 377.753 52.72 375.065 53.92C372.377 55.12 369.425 55.72 366.209 55.72Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M400.627 10.504C400.627 11.704 400.243 13.096 399.475 14.68C398.707 16.216 397.723 17.536 396.523 18.64C395.371 19.696 394.171 20.224 392.923 20.224C392.107 20.224 391.435 20.032 390.907 19.648C390.379 19.264 390.115 18.664 390.115 17.848C390.115 17.224 390.259 16.792 390.547 16.552C390.883 16.264 391.267 16.048 391.699 15.904C392.179 15.76 392.563 15.616 392.851 15.472C394.243 14.752 394.939 13.696 394.939 12.304C394.939 11.776 394.723 11.344 394.291 11.008C393.859 10.624 393.307 10.432 392.635 10.432C391.819 10.432 391.171 10.6 390.691 10.936C390.211 10.696 389.851 10.408 389.611 10.072C389.371 9.736 389.251 9.256 389.251 8.632C389.299 7.432 389.923 6.4 391.123 5.536C392.323 4.624 393.595 4.168 394.939 4.168C396.715 4.168 398.107 4.72 399.115 5.824C400.123 6.928 400.627 8.488 400.627 10.504Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M457.979 48.304C458.987 48.304 459.803 48.616 460.427 49.24C461.099 49.864 461.435 50.68 461.435 51.688C461.435 52.648 461.099 53.44 460.427 54.064C459.803 54.688 458.987 55 457.979 55H433.643C432.635 55 431.795 54.664 431.123 53.992C430.499 53.32 430.187 52.504 430.187 51.544V8.056C430.187 7.096 430.523 6.28 431.195 5.608C431.867 4.936 432.731 4.6 433.787 4.6C434.747 4.6 435.563 4.936 436.235 5.608C436.955 6.28 437.315 7.096 437.315 8.056V48.304H457.979Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M508.509 50.536C508.653 50.968 508.725 51.424 508.725 51.904C508.725 52.864 508.389 53.656 507.717 54.28C507.093 54.904 506.349 55.216 505.485 55.216C504.813 55.216 504.189 55.024 503.613 54.64C503.085 54.208 502.653 53.632 502.317 52.912L497.853 42.328H475.605L471.213 52.984C470.973 53.704 470.565 54.256 469.989 54.64C469.461 55.024 468.861 55.216 468.189 55.216C467.181 55.216 466.413 54.952 465.885 54.424C465.357 53.896 465.093 53.176 465.093 52.264C465.093 52.072 465.141 51.688 465.237 51.112L483.597 6.616C483.933 5.848 484.389 5.272 484.965 4.888C485.589 4.456 486.285 4.288 487.053 4.384C487.773 4.384 488.421 4.576 488.997 4.96C489.573 5.344 489.981 5.896 490.221 6.616L508.509 50.536ZM495.117 35.776L486.693 15.616L478.341 35.776H495.117Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <path
              d="M544.84 27.496C547.48 28.408 549.64 29.92 551.32 32.032C553.048 34.096 553.912 36.808 553.912 40.168C553.912 45.496 552.352 49.312 549.232 51.616C546.16 53.872 542.392 55 537.928 55H519.424C518.464 55 517.648 54.664 516.976 53.992C516.304 53.32 515.968 52.504 515.968 51.544V8.056C515.968 7.096 516.304 6.28 516.976 5.608C517.648 4.936 518.464 4.6 519.424 4.6H537.928C542.296 4.6 545.608 5.68 547.864 7.84C550.168 10 551.32 13.12 551.32 17.2C551.32 19.504 550.768 21.568 549.664 23.392C548.56 25.168 546.952 26.536 544.84 27.496ZM543.904 18.28C543.904 16.024 543.28 14.32 542.032 13.168C540.832 11.968 539.128 11.368 536.92 11.368H523.312V25.408H537.064C539.032 25.36 540.664 24.736 541.96 23.536C543.256 22.288 543.904 20.536 543.904 18.28ZM537.856 48.376C540.496 48.376 542.608 47.704 544.192 46.36C545.776 44.968 546.568 42.904 546.568 40.168C546.568 34.84 543.544 32.176 537.496 32.176H523.312V48.376H537.856Z"
              stroke="white" stroke-width="6" mask="url(#path-1-outside-1)" />
            <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0.304016" y="0.879997" width="557" height="58" fill="black">
              <rect fill="white" x="0.304016" y="0.879997" width="557" height="58" />
              <path
                d="M39.664 4.6C40.672 4.6 41.488 4.912 42.112 5.536C42.784 6.112 43.12 6.904 43.12 7.912C43.12 8.92 42.784 9.712 42.112 10.288C41.488 10.864 40.672 11.152 39.664 11.152H26.848V51.544C26.848 52.504 26.488 53.32 25.768 53.992C25.096 54.664 24.232 55 23.176 55C22.12 55 21.232 54.664 20.512 53.992C19.84 53.32 19.504 52.504 19.504 51.544V11.152H6.76002C5.75202 11.152 4.91202 10.864 4.24002 10.288C3.61602 9.664 3.30402 8.848 3.30402 7.84C3.30402 6.88 3.61602 6.112 4.24002 5.536C4.91202 4.912 5.75202 4.6 6.76002 4.6H39.664Z" />
              <path
                d="M58.5415 51.472C58.5415 52.48 58.1815 53.32 57.4615 53.992C56.7415 54.664 55.9015 55 54.9415 55C53.8855 55 53.0215 54.664 52.3495 53.992C51.7255 53.32 51.4135 52.48 51.4135 51.472V8.056C51.4135 7.096 51.7495 6.28 52.4215 5.608C53.0935 4.936 53.9575 4.6 55.0135 4.6C55.9735 4.6 56.7895 4.936 57.4615 5.608C58.1815 6.28 58.5415 7.096 58.5415 8.056V51.472Z" />
              <path
                d="M108.124 4.6C109.036 4.6 109.78 4.912 110.356 5.536C110.932 6.112 111.22 6.856 111.22 7.768V51.472C111.22 52.48 110.884 53.32 110.212 53.992C109.588 54.664 108.772 55 107.764 55C107.236 55 106.708 54.928 106.18 54.784C105.7 54.592 105.316 54.328 105.028 53.992L76.7322 17.128V51.832C76.7322 52.744 76.4202 53.512 75.7962 54.136C75.2202 54.712 74.4762 55 73.5642 55C72.6522 55 71.9082 54.712 71.3322 54.136C70.7562 53.512 70.4682 52.744 70.4682 51.832V8.056C70.4682 7.048 70.7802 6.232 71.4042 5.608C72.0762 4.936 72.8922 4.6 73.8522 4.6C74.4282 4.6 74.9802 4.72 75.5082 4.96C76.0362 5.152 76.4442 5.44 76.7322 5.824L104.956 42.76V7.768C104.956 6.856 105.244 6.112 105.82 5.536C106.444 4.912 107.212 4.6 108.124 4.6Z" />
              <path
                d="M161.507 49.168C162.035 49.84 162.299 50.632 162.299 51.544C162.299 52.6 161.891 53.464 161.075 54.136C160.307 54.808 159.419 55.144 158.411 55.144C157.451 55.144 156.611 54.712 155.891 53.848L138.395 31.312L130.331 38.944V51.472C130.331 52.48 129.995 53.32 129.323 53.992C128.651 54.664 127.787 55 126.731 55C125.675 55 124.811 54.664 124.139 53.992C123.515 53.32 123.203 52.48 123.203 51.472V8.056C123.203 7.096 123.539 6.28 124.211 5.608C124.883 4.936 125.747 4.6 126.803 4.6C127.859 4.6 128.699 4.936 129.323 5.608C129.995 6.232 130.331 7.048 130.331 8.056V30.448L155.891 5.68C156.803 4.864 157.715 4.456 158.627 4.456C159.491 4.456 160.235 4.816 160.859 5.536C161.483 6.256 161.795 7.024 161.795 7.84C161.795 8.56 161.459 9.304 160.787 10.072L143.723 26.2L161.507 49.168Z" />
              <path
                d="M199.457 48.376C200.465 48.376 201.281 48.712 201.905 49.384C202.577 50.056 202.913 50.848 202.913 51.76C202.913 52.72 202.577 53.512 201.905 54.136C201.281 54.712 200.465 55 199.457 55H174.401C173.441 55 172.625 54.664 171.953 53.992C171.281 53.32 170.945 52.504 170.945 51.544V8.056C170.945 7.096 171.281 6.28 171.953 5.608C172.625 4.936 173.441 4.6 174.401 4.6H199.457C200.465 4.6 201.281 4.912 201.905 5.536C202.577 6.16 202.913 6.976 202.913 7.984C202.913 8.944 202.577 9.736 201.905 10.36C201.281 10.936 200.465 11.224 199.457 11.224H178.073V25.912H196.217C197.225 25.912 198.041 26.224 198.665 26.848C199.337 27.472 199.673 28.264 199.673 29.224C199.673 30.232 199.337 31.024 198.665 31.6C198.041 32.176 197.225 32.464 196.217 32.464H178.073V48.376H199.457Z" />
              <path
                d="M250.383 49.24C250.863 49.576 251.247 50.008 251.535 50.536C251.823 51.016 251.967 51.52 251.967 52.048C251.967 53.056 251.631 53.8 250.959 54.28C250.335 54.76 249.567 55 248.655 55C247.743 55 246.975 54.808 246.351 54.424C244.911 53.608 243.735 52.288 242.823 50.464C241.911 48.64 241.455 45.952 241.455 42.4C241.455 40 240.735 38.224 239.295 37.072C237.855 35.92 235.983 35.344 233.679 35.344H219.135V51.544C219.135 52.552 218.847 53.392 218.271 54.064C217.695 54.688 216.951 55 216.039 55C214.935 55 213.975 54.664 213.159 53.992C212.391 53.32 212.007 52.504 212.007 51.544V8.056C212.007 7.096 212.343 6.28 213.015 5.608C213.687 4.936 214.503 4.6 215.463 4.6H235.695C238.287 4.6 240.663 5.248 242.823 6.544C244.983 7.792 246.711 9.544 248.007 11.8C249.303 14.008 249.951 16.504 249.951 19.288C249.951 21.976 249.231 24.496 247.791 26.848C246.351 29.152 244.503 30.88 242.247 32.032C244.023 32.944 245.415 34.216 246.423 35.848C247.479 37.48 248.055 39.376 248.151 41.536C248.343 44.272 248.559 46.144 248.799 47.152C249.039 48.112 249.567 48.808 250.383 49.24ZM235.551 29.368C236.751 29.272 237.879 28.792 238.935 27.928C240.039 27.064 240.927 25.912 241.599 24.472C242.271 22.984 242.607 21.328 242.607 19.504C242.607 17.2 241.887 15.256 240.447 13.672C239.055 12.04 237.351 11.224 235.335 11.224H219.135V29.368H235.551Z" />
              <path
                d="M289.457 48.376C290.465 48.376 291.281 48.712 291.905 49.384C292.577 50.056 292.913 50.848 292.913 51.76C292.913 52.72 292.577 53.512 291.905 54.136C291.281 54.712 290.465 55 289.457 55H264.401C263.441 55 262.625 54.664 261.953 53.992C261.281 53.32 260.945 52.504 260.945 51.544V8.056C260.945 7.096 261.281 6.28 261.953 5.608C262.625 4.936 263.441 4.6 264.401 4.6H289.457C290.465 4.6 291.281 4.912 291.905 5.536C292.577 6.16 292.913 6.976 292.913 7.984C292.913 8.944 292.577 9.736 291.905 10.36C291.281 10.936 290.465 11.224 289.457 11.224H268.073V25.912H286.217C287.225 25.912 288.041 26.224 288.665 26.848C289.337 27.472 289.673 28.264 289.673 29.224C289.673 30.232 289.337 31.024 288.665 31.6C288.041 32.176 287.225 32.464 286.217 32.464H268.073V48.376H289.457Z" />
              <path
                d="M340.383 49.24C340.863 49.576 341.247 50.008 341.535 50.536C341.823 51.016 341.967 51.52 341.967 52.048C341.967 53.056 341.631 53.8 340.959 54.28C340.335 54.76 339.567 55 338.655 55C337.743 55 336.975 54.808 336.351 54.424C334.911 53.608 333.735 52.288 332.823 50.464C331.911 48.64 331.455 45.952 331.455 42.4C331.455 40 330.735 38.224 329.295 37.072C327.855 35.92 325.983 35.344 323.679 35.344H309.135V51.544C309.135 52.552 308.847 53.392 308.271 54.064C307.695 54.688 306.951 55 306.039 55C304.935 55 303.975 54.664 303.159 53.992C302.391 53.32 302.007 52.504 302.007 51.544V8.056C302.007 7.096 302.343 6.28 303.015 5.608C303.687 4.936 304.503 4.6 305.463 4.6H325.695C328.287 4.6 330.663 5.248 332.823 6.544C334.983 7.792 336.711 9.544 338.007 11.8C339.303 14.008 339.951 16.504 339.951 19.288C339.951 21.976 339.231 24.496 337.791 26.848C336.351 29.152 334.503 30.88 332.247 32.032C334.023 32.944 335.415 34.216 336.423 35.848C337.479 37.48 338.055 39.376 338.151 41.536C338.343 44.272 338.559 46.144 338.799 47.152C339.039 48.112 339.567 48.808 340.383 49.24ZM325.551 29.368C326.751 29.272 327.879 28.792 328.935 27.928C330.039 27.064 330.927 25.912 331.599 24.472C332.271 22.984 332.607 21.328 332.607 19.504C332.607 17.2 331.887 15.256 330.447 13.672C329.055 12.04 327.351 11.224 325.335 11.224H309.135V29.368H325.551Z" />
              <path
                d="M366.209 55.72C362.705 55.72 359.609 55.24 356.921 54.28C354.233 53.272 351.665 51.664 349.217 49.456C348.209 48.592 347.705 47.608 347.705 46.504C347.705 45.64 348.041 44.872 348.713 44.2C349.385 43.48 350.177 43.12 351.089 43.12C351.905 43.12 352.601 43.384 353.177 43.912C355.097 45.688 357.065 47.008 359.081 47.872C361.145 48.688 363.473 49.096 366.065 49.096C369.089 49.096 371.633 48.4 373.697 47.008C375.809 45.616 376.865 43.864 376.865 41.752C376.817 39.256 375.761 37.336 373.697 35.992C371.681 34.6 368.585 33.448 364.409 32.536C359.465 31.528 355.649 29.872 352.961 27.568C350.321 25.264 349.001 22.072 349.001 17.992C349.001 15.16 349.745 12.688 351.233 10.576C352.721 8.416 354.785 6.76 357.425 5.608C360.065 4.456 363.041 3.88 366.353 3.88C369.329 3.88 372.137 4.36 374.777 5.32C377.417 6.28 379.553 7.552 381.185 9.136C382.289 10.096 382.841 11.128 382.841 12.232C382.841 13.096 382.505 13.864 381.833 14.536C381.209 15.208 380.441 15.544 379.529 15.544C378.857 15.544 378.305 15.352 377.873 14.968C376.625 13.72 374.897 12.664 372.689 11.8C370.481 10.936 368.369 10.504 366.353 10.504C363.137 10.504 360.569 11.176 358.649 12.52C356.777 13.816 355.841 15.544 355.841 17.704C355.841 20.056 356.777 21.856 358.649 23.104C360.569 24.352 363.401 25.408 367.145 26.272C370.889 27.088 373.937 28.048 376.289 29.152C378.689 30.256 380.537 31.792 381.833 33.76C383.129 35.728 383.777 38.296 383.777 41.464C383.777 44.248 382.985 46.72 381.401 48.88C379.865 51.04 377.753 52.72 375.065 53.92C372.377 55.12 369.425 55.72 366.209 55.72Z" />
              <path
                d="M400.627 10.504C400.627 11.704 400.243 13.096 399.475 14.68C398.707 16.216 397.723 17.536 396.523 18.64C395.371 19.696 394.171 20.224 392.923 20.224C392.107 20.224 391.435 20.032 390.907 19.648C390.379 19.264 390.115 18.664 390.115 17.848C390.115 17.224 390.259 16.792 390.547 16.552C390.883 16.264 391.267 16.048 391.699 15.904C392.179 15.76 392.563 15.616 392.851 15.472C394.243 14.752 394.939 13.696 394.939 12.304C394.939 11.776 394.723 11.344 394.291 11.008C393.859 10.624 393.307 10.432 392.635 10.432C391.819 10.432 391.171 10.6 390.691 10.936C390.211 10.696 389.851 10.408 389.611 10.072C389.371 9.736 389.251 9.256 389.251 8.632C389.299 7.432 389.923 6.4 391.123 5.536C392.323 4.624 393.595 4.168 394.939 4.168C396.715 4.168 398.107 4.72 399.115 5.824C400.123 6.928 400.627 8.488 400.627 10.504Z" />
              <path
                d="M457.979 48.304C458.987 48.304 459.803 48.616 460.427 49.24C461.099 49.864 461.435 50.68 461.435 51.688C461.435 52.648 461.099 53.44 460.427 54.064C459.803 54.688 458.987 55 457.979 55H433.643C432.635 55 431.795 54.664 431.123 53.992C430.499 53.32 430.187 52.504 430.187 51.544V8.056C430.187 7.096 430.523 6.28 431.195 5.608C431.867 4.936 432.731 4.6 433.787 4.6C434.747 4.6 435.563 4.936 436.235 5.608C436.955 6.28 437.315 7.096 437.315 8.056V48.304H457.979Z" />
              <path
                d="M508.509 50.536C508.653 50.968 508.725 51.424 508.725 51.904C508.725 52.864 508.389 53.656 507.717 54.28C507.093 54.904 506.349 55.216 505.485 55.216C504.813 55.216 504.189 55.024 503.613 54.64C503.085 54.208 502.653 53.632 502.317 52.912L497.853 42.328H475.605L471.213 52.984C470.973 53.704 470.565 54.256 469.989 54.64C469.461 55.024 468.861 55.216 468.189 55.216C467.181 55.216 466.413 54.952 465.885 54.424C465.357 53.896 465.093 53.176 465.093 52.264C465.093 52.072 465.141 51.688 465.237 51.112L483.597 6.616C483.933 5.848 484.389 5.272 484.965 4.888C485.589 4.456 486.285 4.288 487.053 4.384C487.773 4.384 488.421 4.576 488.997 4.96C489.573 5.344 489.981 5.896 490.221 6.616L508.509 50.536ZM495.117 35.776L486.693 15.616L478.341 35.776H495.117Z" />
              <path
                d="M544.84 27.496C547.48 28.408 549.64 29.92 551.32 32.032C553.048 34.096 553.912 36.808 553.912 40.168C553.912 45.496 552.352 49.312 549.232 51.616C546.16 53.872 542.392 55 537.928 55H519.424C518.464 55 517.648 54.664 516.976 53.992C516.304 53.32 515.968 52.504 515.968 51.544V8.056C515.968 7.096 516.304 6.28 516.976 5.608C517.648 4.936 518.464 4.6 519.424 4.6H537.928C542.296 4.6 545.608 5.68 547.864 7.84C550.168 10 551.32 13.12 551.32 17.2C551.32 19.504 550.768 21.568 549.664 23.392C548.56 25.168 546.952 26.536 544.84 27.496ZM543.904 18.28C543.904 16.024 543.28 14.32 542.032 13.168C540.832 11.968 539.128 11.368 536.92 11.368H523.312V25.408H537.064C539.032 25.36 540.664 24.736 541.96 23.536C543.256 22.288 543.904 20.536 543.904 18.28ZM537.856 48.376C540.496 48.376 542.608 47.704 544.192 46.36C545.776 44.968 546.568 42.904 546.568 40.168C546.568 34.84 543.544 32.176 537.496 32.176H523.312V48.376H537.856Z" />
            </mask>
          </svg>
        </div>
        <div class="row theme-row">
          <div class="col-sm-3">
            <p class="theme-text">IDEATE</p>
          </div>
          <div class="col-sm-4">
            <p class="theme-text">INNOVATE</p>
          </div>
          <div class="col-sm-3">
            <p class="theme-text">CREATE</p>
          </div>
        </div>
        <div class="">
          <a class="btn btn-outline-dark top-btn" href="#middle-container" role="button">What's New &darr;</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 logo-container center">
        <img class="logo-img" src="/tinkerers-lab/public/gif/flat_solid.gif" alt="">
      </div>
    </div>
  </div>

  <!-- Middle Container -->
  <div class="middle-container" id="middle-container">
    <!-- About -->
    <div class="heading text-center shadow heading-otherpages-top">
      <!-- <div class="egg-shape-1">
          <div class="egg-shape-2"> -->
      What We Do
      <!-- </div>
        </div> -->
    </div>

    <div class="container mt-5 contact-tab">
      <div class="row">
        <div class="col-md-10 ml-auto col-xl-10 mr-auto">
          <!-- Nav tabs -->
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">
                    <i class="fas fa-paper-plane about-icon"></i> Aim
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
                    <i class="fas fa-eye about-icon"></i> Vision
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                    <i class="fas fa-pen about-icon"></i> Goal
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#home" role="tab">
                    Simple & Humble Beginning
                  </a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="profile" role="tabpanel">
                  <p>Tinkerers' Lab aims to set up a culture where students are not afraid to get their hands dirty, where students gain self-dependency, self-sufficiency and efficiency in experimentation, a culture where they can approach problems
                    theoretically as well as practically and use the knowledge and experience gained in the process, to come up with something exceptional that could change the course of our future.</p>
                </div>
                <div class="tab-pane" id="messages" role="tabpanel">
                  <p>Tinkerers' Lab gives the students a vent to channel all their creativity, to construct mechanisms, to take systems apart, rebuild them and in the process apply their brains and come up with design driven and technology based
                    innovations. This in effect will provide the students with more hands on experience thereby increasing their employability and also allow them to come up with innovative ideas. It’s an open to all, completely managed by students
                    and will act as a one-stop-solution for all the technical works of students; be it DIY’s hacks, hobby projects, course projects and even repair works.</p>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel">
                  <p>
                    The lab is equipped with latest workstations of electrical and mechanical tools with some noteworthy inclusion like laser cutting machines, 3D printer, fabrication facilities, etc. It will provide the freedom and facility to
                    experiment, exercise imaginations, build novel systems and convert concepts and creative ideas to actual engineering products.
                  </p>
                </div>
                <div class="tab-pane" id="home" role="tabpanel">
                  <p>IIT Gandhinagar, a relatively new institute with the aim to foster creativity among young engineers, researchers, innovators, and entrepreneurs, in its endeavor to embed learning-by-doing in the academic curriculum established
                    Tinkerers' Lab at its newly built campus in January 2018 with the support from IIT Bombay Alumni of 1975 batch. The Tinkerers' Lab, popular as TL among students, is a technical facility with essential mechanical, electrical, and
                    electronics tools and equipment to build and program things. The TL at IITGN is completely a students' initiative that requires our students to execute day-to-day operational and maintenance tasks. Despite various challenges, our
                    students have been able to keep TL open to all students on a 24/7 basis. We at IIT Gandhinagar are really excited to see the phenomenal success of TL in encouraging students to start tinkering and explore technology as their hobby
                    to build and innovate.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Machines in TL -->
    <div class="events">
      <!-- <div class="top-heading">
        <i id="gear-logo" class="fa fa-1x fa-gear spin"></i> Events <i id="gear-logo" class="fa fa-1x fa-gear spin-back"></i>
      </div> -->
      <div class="heading text-center shadow">
        <!-- <div class="egg-shape-1">
          <div class="egg-shape-2">
            Events
          </div>
        </div> -->
        Machines
      </div>

      <div class="row events-row">
        <div class="col-sm-12 col-md-4 col-lg-4 events-col">
          <div class="card events-card">
            <img class="card-img-top" src="/tinkerers-lab/public/images/Creality-K1-Max.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">3D Printer</h5>
              <p class="card-text">3D Printing Facility at Tinkerers' Lab is equipped with high quality FDM Printers that provides latest technology for Prototyping and Manufacturing.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 events-col">
          <div class="card events-card">
            <img class="card-img-top" src="/tinkerers-lab/public/images/GCC_LaserCutter_square.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Laser Cutter</h5>
              <p class="card-text">Laser Cutting Facility is equipped with advanced Laser Cutting and Engraving Machines that provides highly precise rapid prototyping with various materials.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 events-col">
          <div class="card events-card">
            <img class="card-img-top" src="/tinkerers-lab/public/images/vector/gr540.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Vinyl Cutter</h5>
              <p class="card-text">Vinyl Cutter Facility is equipped with Roland Vinyl Cutter that provides highly accurate result for production.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 events-col">
          <div class="card events-card">
            <img class="card-img-top" src="/tinkerers-lab/public/images/vector/pcbmm.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">PCB Milling Machine</h5>
              <p class="card-text">PCD Milling Facility is equipped with high spindle speed Milling machine to make printed circuit boards.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 events-col">
          <div class="card events-card">
            <img class="card-img-top" src="/tinkerers-lab/public/images/vector/mechanical.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Mechanical Machines and Tools</h5>
              <p class="card-text">Mechanical Workspace is equipped with Drilling and Grinding machines, Sawing tools and Measuring equipments.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 events-col">
          <div class="card events-card">
            <img class="card-img-top" src="/tinkerers-lab/public/images/vector/raspberrypi.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Electrical and Electronics Workspace</h5>
              <p class="card-text">Electrical Workspace is equipped with Soldering station, Electronic equipments and sensors.</p>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-12 col-md-4 col-lg-4 events-col">
          <a class="btn btn-outline-dark events-btn" href="/tinkerers-lab/booking" role="button">Book Now &rarr;</a>
          <br><br><br>
        </div> -->
      </div>
    </div>

    <!-- Events -->
    <div class="events">
      <!-- <div class="top-heading">
        <i id="gear-logo" class="fa fa-1x fa-gear spin"></i> Events <i id="gear-logo" class="fa fa-1x fa-gear spin-back"></i>
      </div> -->
      <div class="heading text-center shadow">
        <!-- <div class="egg-shape-1">
          <div class="egg-shape-2">
            Events
          </div>
        </div> -->
        Events
      </div>

      <div class="row events-row">
        <div class="col-sm-12 col-md-4 col-lg-4 events-col">
          <div class="card events-card">
            <img class="card-img-top" src="/tinkerers-lab/public/images/ar.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">AR Workshop</h5>
              <p class="card-text">Ever wondered how Instagram makes those exciting filters? Tinkerers' Lab in collaboration with DigiS IITGN brings to you a workshop on getting started with Augmented Reality.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 events-col">
          <div class="card events-card">
            <img class="card-img-top" src="/tinkerers-lab/public/images/build-a-thon.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Virtual Build-a-thon</h5>
              <p class="card-text">A 12 hour long event on TinkerCAD platform for 1st and 2nd year undergrads where the partcipants have to come up with an Arduino based Disaster Management system.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center btn-col events-knowmore">
          <a class="btn btn-outline-dark events-btn" href="/tinkerers-lab/events" role="button">Know More &rarr;</a>
          <br><br><br>
        </div>
      </div>
    </div>


    <!-- Testimonials -->
    <div class="testimonial-div">
      <!-- <div class="top-heading">
        <i id="gear-logo" class="fa fa-1x fa-gear spin"></i> What Others Say <i id="gear-logo" class="fa fa-1x fa-gear spin-back"></i>
      </div> -->
      <div class="heading text-center testimonial-heading shadow">
        <!-- <div class="egg-shape-1 long-text-1">
          <div class="egg-shape-2 long-text-2">
            Testimonials
          </div>
        </div> -->
        What Others Say
      </div>

      <!-- <div class="row testimonial-row">
        <div class="col-sm-12 col-md-4">
          <div class="testimonial">
            <div class="testimonial-body">
              <p>Tinkering is one of the natural forms of experimentation that we manifest in our everyday life as a way to make or improve things. Tinkerers' Lab is a platform for students to experience innovation and prepare themselves for the
                future through self-learning. Research in the science of learning supports the model of encouraging tinkering practices at educational institutes and universities.</p>
              <i class="fas fa-2x fa-quote-right"></i>
            </div>
            <div class="testimonial-footer">
              <img src="/tinkerers-lab/public/images/person_1.jpg" alt="user" />
              <h5>Prof. Vineet Vashista</h5>
              <h6>Department of Mechanical Engineering</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="testimonial">
            <div class="testimonial-body">
              <p>Tinkerers’ lab is a place to discover the relation between things, forms, shapes, materials and many more. You may find a hidden dimension while doing something as simple as drilling a hole into a piece of wood and come up with a
                brilliant product. Students who are innovative and creative often may not be good at explaining or representing. They may have a very creative spirit—we need to capture that and Tinkerers lab is a place to satisfy their needs.</p>
              <i class="fas fa-2x fa-quote-right"></i>
            </div>
            <div class="testimonial-footer">
              <img src="/tinkerers-lab/public/images/person_2.jpg" alt="user" />
              <h5>Franklin Sir</h5>
              <h6>Senior Design Associate</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="testimonial">
            <div class="testimonial-body">
              <p>"I do not have to think twice before entering a lab," said one of the students to me. I reflect back on these words and realize that Tinkerers' Lab has made it possible to be fearless to explore and learn. The challenge lies in not
                keeping this wish bounded, and bringing out more from both the lab and the students.</p>
              <i class="fas fa-2x fa-quote-right"></i>
            </div>
            <div class="testimonial-footer">
              <img src="/tinkerers-lab/public/images/rushali.jpg" alt="user" />
              <h5>Rushali Saxena</h5>
              <h6>Ex. Technical Secretary</h6>
            </div>
          </div>
        </div>
      </div> -->

      <div class="container text-center my-3">
        <div class="row mx-auto my-auto">
          <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="12000">
            <div class="carousel-inner w-100" role="listbox">
              <div id="testimonial-1" class="carousel-item active">
                <div class="col-md-4">
                  <div class="testimonial">
                    <div class="testimonial-body">
                      <p>Tinkering is one of the natural forms of experimentation that we manifest in our everyday life as a way to make or improve things. Tinkerers' Lab is a platform for students to experience innovation and prepare themselves for the
                        future through self-learning. Research in the science of learning supports the model of encouraging tinkering practices at educational institutes and universities.</p>
                      <i class="fas fa-2x fa-quote-right"></i>
                    </div>
                    <div class="testimonial-footer">
                      <img src="/tinkerers-lab/public/images/person_1.jpg" alt="user" />
                      <h5>Prof. Vineet Vashista</h5>
                      <h6>Department of Mechanical Engineering</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div id="testimonial-2" class="carousel-item">
                <div class="col-md-4">
                  <div class="testimonial">
                    <div class="testimonial-body">
                      <p>Tinkerers’ lab is a place to discover the relation between things, forms, shapes, materials and many more. You may find a hidden dimension while doing something as simple as drilling a hole into a piece of wood and come up with a
                        brilliant product. Students who are innovative and creative often may not be good at explaining or representing. They may have a very creative spirit—we need to capture that and Tinkerers lab is a place to satisfy their needs.</p>
                      <i class="fas fa-2x fa-quote-right"></i>
                    </div>
                    <div class="testimonial-footer">
                      <img src="/tinkerers-lab/public/images/person_2.jpg" alt="user" />
                      <h5>Franklin Sir</h5>
                      <h6>Senior Design Associate</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div id="testimonial-3" class="carousel-item">
                <div class="col-md-4">
                  <div class="testimonial">
                    <div class="testimonial-body">
                      <p>TL was my go-to place for all projects - academic and personal. Since it houses a wide variety of equipment, I slowly started to do a lot of my projects in TL and slowly, it had become my second room in the college. I would be there for maximum part of the day. As I was using the lab for long time, I felt the need to give back to it and so had taken up the responsibility to help keep things in place and help other students to operate machines. Tinkerers' Lab has taught me to be responsible, honest, helpful and patient. Managing TL is a tough task and, I thank and congratulate the TL student team for all their time and help. It is really commendable.</p>
                      <i class="fas fa-2x fa-quote-right"></i>
                    </div>
                    <div class="testimonial-footer">
                      <img src="/tinkerers-lab/public/images/person_4.jpg" alt="user" />
                      <h5>Bharg Mehta</h5>
                      <h6>Ex. TL Coordinator</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div id="testimonial-4" class="carousel-item">
                <div class="col-md-4">
                  <div class="testimonial">
                    <div class="testimonial-body">
                      <p>"I do not have to think twice before entering a lab," said one of the students to me. I reflect back on these words and realize that Tinkerers' Lab has made it possible to be fearless to explore and learn. The challenge lies in not
                        keeping this wish bounded, and bringing out more from both the lab and the students.</p>
                      <i class="fas fa-2x fa-quote-right"></i>
                    </div>
                    <div class="testimonial-footer">
                      <img src="/tinkerers-lab/public/images/rushali.jpg" alt="user" />
                      <h5>Rushali Saxena</h5>
                      <h6>Ex. Technical Secretary</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>

  <!-- Gallery -->
  <div class="gallary">
    <!-- <div class="top-heading">
      <i id="gear-logo" class="fa fa-1x fa-gear spin"></i> Gallery <i id="gear-logo" class="fa fa-1x fa-gear spin-back"></i>
    </div> -->

    <div class="heading text-center shadow">
      <!-- <div class="egg-shape-1">
        <div class="egg-shape-2">
          Gallery
        </div>
      </div> -->
      Gallery
    </div>

    <div class="img-slides">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/tinkerers-lab/public/images/ss1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/tinkerers-lab/public/images/ss2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/tinkerers-lab/public/images/ss3.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/tinkerers-lab/public/images/ss4.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <!--Our Team -->
  <!-- <div class="egg-shape-1 long-text-1">
    <div class="egg-shape-2 long-text-2 text-center">
      Our Team
    </div>
  </div> -->
  <div class="heading text-center shadow">
    Our Team
  </div>
  <div class="container" id="our_team">
    <div class="row profile-row">
      <!-- Overall Coordinator -->
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/Dhruv Goel Photo - Dhruv Goel 23110098.jpg" alt="Sridhar Singh">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Dhruv Goel</h5>
          <p class="card-text">Overall Coordinator</p>
        </div>
      </div>
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/IMG-20241223-WA0036 - Siddhesh Umarjee.jpg" alt="Sridhar Singh">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Siddhesh Umarjee</h5>
          <p class="card-text">Overall Coordinator</p>
        </div>
      </div>
      <!-- Technical Team -->
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/1705760527039-01 - Sridhar Singh Thakur.jpeg" alt="Sridhar Singh">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Sridhar Singh</h5>
          <p class="card-text">Technical team - Projects</p>
        </div>
      </div>
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/IMG20240817180056 - Pothuri Venkata N S K Nikhil 24110262.jpg" alt="Pothuri Venkata N S K Nikhil">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Pothuri Venkata N S K Nikhil</h5>
          <p class="card-text">Technical team - Projects</p>
        </div>
      </div>
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/IMG_20240316_170034 - Kunala Thrisha 23110182.jpg" alt="Kunala Thrisha">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Kunala Thrisha</h5>
          <p class="card-text">Technical team - Projects</p>
        </div>
      </div>
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/IMG-20241105-WA0049 - Shreya Anbu 24110331.jpg" alt="Shreya Anbu">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Shreya Anbu</h5>
          <p class="card-text">Technical team - Projects</p>
        </div>
      </div>
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/Screenshot_20241224_083300_Gallery - Mayank Dhabhai.jpg" alt="Mayank Dhabhai">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Mayank Dhabhai</h5>
          <p class="card-text">Technical team - Projects</p>
        </div>
      </div>
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/tinkerph - Gella Naga Sai Krishna 24110122.jpg" alt="Gella Naga Sai Krishna">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Gella Naga Sai Krishna</h5>
          <p class="card-text">Technical team - Web Dev</p>
        </div>
      </div>
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/IMG_2593 - Ritika Pahwa.jpeg" alt="Ritika Pahwa">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Ritika Pahwa</h5>
          <p class="card-text">Technical team - Machine Supervision</p>
        </div>
      </div>
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/0AE6B520-A4B3-434F-B197-4E365F9007E6 - Vishal Ubnare.jpeg" alt="Vishal Ubnare">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Vishal Ubnare</h5>
          <p class="card-text">Technical team - Machine Supervision</p>
        </div>
      </div>
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/IMG_1724 - Vigneshwari S R.jpeg" alt="Vigneshwari S R">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Vigneshwari S R</h5>
          <p class="card-text">Technical team - Machine Supervision</p>
        </div>
      </div>
      <!-- Events Team -->
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/20241008_191425_-_Aditya_Kumar_24510012.jpg" alt="Aditya Kumar">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Aditya Kumar</h5>
          <p class="card-text">Events Team</p>
        </div>
      </div>
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/IMG_20241223_144210 - Kethavath Shivaprakash.jpg" alt="Kethavath Shivaprakash">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Kethavath Shivaprakash</h5>
          <p class="card-text">Events Team</p>
        </div>
      </div>
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/IMG20241110165020 - Yash Pramod Deotale 24210116.jpg" alt="Yash Pramod Deotale">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Yash Pramod Deotale</h5>
          <p class="card-text">Events Team</p>
        </div>
      </div>
      <!--<div class="profile-card col-sm-12 col-md-6 col-lg-3">-->
      <!--  <div class="card-img">-->
      <!--    <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/IMG-20241223-WA0036 - Siddhesh Umarjee.jpg" alt="Siddhesh Umarjee">-->
      <!--  </div>-->
      <!--  <div class="card-body text-center">-->
      <!--    <h5 class="card-title">Siddhesh Umarjee</h5>-->
      <!--    <p class="card-text">Events Team</p>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/IMG-20240414-WA0013 - Rathod Sai Tejashwini 23110273.jpg" alt="Rathod Sai Tejashwini">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Rathod Sai Tejashwini</h5>
          <p class="card-text">Events Team</p>
        </div>
      </div>
      <!-- Outreach Team -->
      <div class="profile-card col-sm-12 col-md-6 col-lg-3">
        <div class="card-img">
          <img class="card-img-top profile-img" src="/tinkerers-lab/public/images/Photos/IMG_4072 - Pawar Sai Tejeshwar 24110253.jpeg" alt="Sai Tejeshwar Pawar">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Sai Tejeshwar Pawar</h5>
          <p class="card-text">Outreach Team</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="space"></div>

  <!-- Footer -->
  <div class="footer">
    <div class="row footer-row-1">
      <div class="col-sm-12 col-md-4 text-center">
        <i class="fas fa-map-marker-alt footer-icon"></i>
        <br><br>
        <p>Academic Block 11 / 217, IIT Gandhinagar, Palaj</p>
        <p>Gandhinagar - 382355, Gujarat</p>
        <br>
      </div>
      <div class="col-sm-12 col-md-4 text-center">
        <i class="fas fa-phone-alt footer-icon"></i>
        <br><br>
        <p class="text-center">TL Coordinators</p>
        <div class="row coordinator-row">
          <div class="col-sm-12 col-md-6">
            <p class="coordinator-name">Dhruv Dosi</p>
            <p class="coordinator-email">dosidhruv@iitgn.ac.in</p>
            <br>
          </div>
          <div class="col-sm-12 col-md-6">
            <p class="coordinator-name">Sridhar Singh Thakur</p>
            <p class="coordinator-email">sridharsingh.thakur@iitgn.ac.in</p>
          </div>
        </div>
        <br>
      </div>
      <div class="col-sm-12 col-md-2 text-center">
        <a href="mailto:tinkererslab@iitgn.ac.in"><i class="fas fa-envelope footer-icon"></i></a>
        <br><br>
        <p>tinkererslab@iitgn.ac.in</p><br>
        <!-- <br>
          <a href="https://www.facebook.com/Tinkerers-Lab-IITGN-110852657318853/"><i class="fab fa-facebook-f footer-icon social-icon"></i></a>
          <a href="https://www.instagram.com/tinkerers_lab_iitgn/"><i class="fab fa-instagram footer-icon social-icon"></i></a> -->
      </div>
      <div class="col-sm-12 col-md-2 text-center">
        <a href="https://www.facebook.com/Tinkerers-Lab-IITGN-110852657318853/"><i class="fab fa-facebook-f footer-icon social-icon"></i></a>
        <a href="https://www.instagram.com/tinkerers_lab_iitgn/"><i class="fab fa-instagram footer-icon social-icon"></i></a>
        <a href="https://in.linkedin.com/company/tinkerers-lab-iit-gandhinagar"><i class="fab fa-linkedin-in footer-icon social-icon"></i></a>
        <a href="https://github.com/TinkerersLabIITGN"><i class="fab fa-github footer-icon social-icon"></i></a>
        <br><br>
        <p>Follow Us</p><br>
      </div>
    </div>
    <!-- <div class="row footer-row-2">
      <div class="col-sm-12 col-md-6 text-center">
        <a href="https://www.facebook.com/Tinkerers-Lab-IITGN-110852657318853/"><i class="fab fa-facebook-f footer-icon social-icon"></i></a>
        <a href="https://www.instagram.com/tinkerers_lab_iitgn/"><i class="fab fa-instagram footer-icon social-icon"></i></a>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <a class="btn btn-outline-dark contact-btn" href="/inve" role="button">Get In Touch &rarr;</a>
      </div>
    </div> -->
    <p class="text-center">Copyright ©2021 All rights reserved | Tinkerers’ Lab IIT Gandhinagar</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzapH66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/tinkerers-lab/public/js/index.js" charset="utf-8"></script>

</body>

</html>
<!DOCTYPE html>