/* Top Container */
.top-container {
  background: #686de0;/*#a3ddcb; */
  /* background: linear-gradient(0deg, rgba(33,230,193,0.3) 0%, rgba(12,248,204,1) 35%, rgba(0,212,255,1) 100%); */
  /* background: linear-gradient(to right, #34656d, #4c8285, #669f9d, #83beb4, #a3ddcb); */
  padding: 5%;
}

.center {
  text-align: center;
}

.logo-text, .theme-row {
  justify-content: center;
  padding: 10%;
  padding-bottom: 5%;
  color: white;
}

.logo-img {
  margin-top: 2vw;
  margin-bottom: 2vw;
  width: 70%;
  filter: brightness(3.75);
}

.theme-row {
  padding-top: 0;
}

.theme-text {
  font-weight: bold;
  font-size: 2rem;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(0, 0);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.theme-text {
  animation: zoominoutsinglefeatured 1s forwards;
}

.top-btn {
  background-color: white;
  border-radius: 20px;
}

/* Middle Container */
.middle-container {
  padding: 1%;
}

.top-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 4%;
}

.img-slides {
  padding: 10vw;
  padding-top: 1%;
  padding-bottom: 1%;
}

@media only screen and (min-width: 777px) {
  .img-slides {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

/* Events */
.events-row {
  padding: 6%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.events-col {
  padding: 3%;
}

.events-btn {
  position: relative;
  top: 50%;
  border-radius: 20px;
}

.events-card {
  /* margin: 4%; */
  background-color: #fff;
  border-radius: 20px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.18);
  overflow: hidden;
  max-width: 100%;
}

/* Testmonials */

.testimonial-div {
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.testimonial {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  max-width: 100%;
  margin: 4%; 
  /* width: 400px; */
}

.testimonial-body {
  padding: 40px 40px 80px;
}

.testimonial-body p {
  color: #555;
  padding-right: 10%;
  height: 50vh;
  overflow-y: scroll;
}

.testimonial-body .fa-quote-right {
  color: #eee;
  float: right;
}

.testimonial-footer {
  background-color: #686de0;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.testimonial-footer img {
  border-radius: 50%;
  border: 5px solid #fff;
  height: 120px;
  width: 120px;
  margin-top: -100px;
}

.testimonial-footer h5 {
  margin: 10px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testimonial-footer h6 {
  color: #b3b5ef;
  margin: 0;
  letter-spacing: 1px;
}

/* Our Team */

.profile-row {
  padding: 2%;
  margin: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

.profile-img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.profile-card {
  padding: 2%;
}

@media only screen and (max-width:777px) {
  .profile-card {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.profile-card h5 {
  margin: 10px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media only screen and (min-width:768px) and (max-width:991.5px) {
  .start-4, .start-5, .start-6, .start-7, .start-8, .start-9 {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width:991.5px) {
  .start-5, .start-6, .start-7 {
    padding-left: 6%;
    padding-right: 6%;
  }

  .start-8, .start-9 {
    padding-left: 14.5%;
    padding-right: 14.5%;
  }
}
