.inv_tab {
  padding: 10%;
}

.inv_tab thead { text-align: center;
  background-color: black;
  color:white;
}

.inv_tab tbody {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.inv_tab td {
  align-content: center;
  width: 40%;
}

.item_img {
  width: 100%;
}
